<div class="schemesContainer">
    <div class="contentRight">
        <div class="svgDiv" >
            <svg viewBox="0 0 200 200" style="width: 100%; height: 100%; object-fit: contain; border-radius:5%">
                <!-- First Image -->
                <image href="assets/images/appscreenshots/schemes.png" x="0" y="0" width="200" height="200" opacity="1">
                  <animate attributeName="opacity" from="1" to="0" begin="0s" dur="6s" fill="freeze" repeatCount="indefinite" />
                </image>
              </svg>
        </div>
    </div>
    
    <div class="contentLeft">
        <p class="smallH1">
            interest schemes
        </p>

        <h1>More options and More Control over your Interest Schemes </h1>

        <p>In the competitive Gold Loan business market, your Interest schemes plays a major role in your turnover </p>

        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>

            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Simple, Multiple, Compound, Emi and various other customized Interest Calculation methods are built in with FinAcc Cloud
                </span>        
            </div>
        </div>

        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>
            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Interest Rates can be auto fetched based on the Loan value, Market value, Item Groups and various other parameters
                </span>        
            </div>
        </div>
        
        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>
            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Create multiple interest schemes and have full control over the interest calculations, maturity period etc.,
                </span>        
            </div>
        </div>

    </div>

    
</div>