<div class="rpPaymentContainer">
    <div class="headerCard">
        <div class="headerLeft">     
            <i class="fa fa-arrow-circle-left back" aria-hidden="true" (click)="GoBack()" ></i>
            <p class="heading"> {{RpPayment.IsOpen == 1 ? 'Opening Repledge Payment' : 'New Repledge Payment'}} </p>        
            <span *ngIf="RpPayment.RpPaymentSno==0" style=" font-size: 1.2rem; color: green;" > &nbsp; (Create New) </span>
            <span *ngIf="RpPayment.RpPaymentSno!==0" style="font-size: 1.2rem;color: red;" > &nbsp; (Edit Mode) </span>
        </div>

        <div class="headerRight">                 
            <div class="searchBox">
                <input type="text" required   placeholder="Type here to Search" />
                <!-- <label for="" class="searchLabel"> Type here to Search </label> -->
                <div class="iconRight">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div> 
            </div>
    
            
            <button class="newBtn"[matMenuTriggerFor]="menu" >
                <!-- <i class='bx bx-plus bx-tada' ></i>Action -->
                <i class='bx bxs-edit-alt'></i> Actions <i class='bx bx-dots-vertical-rounded' ></i>
            </button>

            <mat-menu #menu="matMenu" style="padding: 1rem;">
                <button mat-menu-item >
                    <div class="menuClass">
                        <i class='bx bx-save' style='color:green' ></i>
                        <span>Save RpPayment</span>
                    </div>                    
                </button>
                <button mat-menu-item class>
                    <div class="menuClass">
                        <i class='bx bx-printer' style='color:gray' ></i>
                        <span>Print RpPayment</span>
                    </div>
                </button>
                <button mat-menu-item >
                    <div class="menuClass">
                        <i class='bx bx-trash' style='color:red' ></i>
                        <span>Delete RpPayment</span>
                    </div>
                </button>                
            </mat-menu>
            
        </div>
    </div>

    <div class="content">
        <div class="contentTop">
            <div class="contentLeft">
                <!-- <div class="cardDefault"> -->
                    <div class="row">
                        <div class="col50">
                            <app-selectionlist [Caption]="'Series'" [DataSource]="VoucherSeriesList" [SelectedItem]="SelectedSeries"  (newItemEvent)="getSeries($event)" ></app-selectionlist>
                        </div>

                        <div class="col50">
                            <div class="formGroup" [ngClass]="!RpPaymentNumberValid ? 'invalid' : ''">
                                <input type="hidden" required [(ngModel)]= "RpPayment.RpPaymentSno"  />        
                                <input type="text" class="formControl" required [disabled]="AutoSeriesNo" [(ngModel)]= "RpPayment.RpPayment_No"  style="text-align: center; font-size: 20px; font-weight: bold;" />
                                <label for="" class="formLabel" >RpPayment Number </label>
                                <div class="errorHint" *ngIf="!RpPaymentNumberValid" > Invalid Name </div> 
                            </div>
                        </div> 
                    </div>
                    
                    <div class="row" style="margin-top: 1rem;">
                        <div class="col50">
                            <div class="formGroup" [ngClass]="!RpPaymentDateValid ? 'invalid' : ''">                                  
                                <input type="date" class="formControl" required [ngModel]="RpPayment.RpPayment_Date! | intToDate | date:'yyyy-MM-dd'" (blur)="RpPayment.RpPayment_Date= DateToInt($event); TillDate = RpPayment.RpPayment_Date; callGetRepledge()" />                                           
                                <label for="" class="formLabel date"> RpPayment Date </label>
                                <div class="errorHint" *ngIf="!RpPaymentDateValid" > Invalid Name </div> 
                            </div>
                        </div>

                        <div class="col50">
                            <div class="formGroup" [ngClass]="!TillDateValid ? 'invalid' : ''">
                                <!-- <input type="date" class="formControl" [ngModel]="TillDate | date:'yyyy-MM-dd'"/>                                                 -->
                                <input type="date" class="formControl" required [ngModel]="TillDate! | intToDate | date:'yyyy-MM-dd'" (blur)="TillDate= DateToInt($event); callGetRepledge()" />                                           
                                <label for="" class="formLabel date"> Till Date </label>
                                <div class="errorHint" *ngIf="!TillDateValid" > Invalid Name </div> 
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1rem;">
                        <div class="col20">
                            <div class="formGroup">                                
                                <input type="text" class="formControl" required #remarks [(ngModel)]= "RpPayment.Remarks"/>
                                <label for="" class="formLabel"> Bar Code </label>                                                      
                            </div>
                        </div>
                        <div class="col30">                            
                            <app-selectionlist [Caption]="'Repledge'" [DataSource]="RepledgesList" [SelectedItem]="SelectedRepledge"  (newItemEvent)="getRepledge($event)" ></app-selectionlist>
                        </div>
                        <div class="col50">
                            <app-selectionlist [Caption]="'Select by Supplier'" [DataSource]="SuppliersList" [SelectedItem]="SelectedSupplier"  (newItemEvent)="getSupplier($event)" ></app-selectionlist>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1rem;" >
                        <div class="col50">
                            <div class="formGroup">                                
                                <input type="number" class="formControl" NumberInput (blur)="CalculateRpPaymentValues()" (keydown.enter)="interest.focus()" required [(ngModel)]= "RpPayment.Rp_Principal"/>
                                <label for="" class="formLabel" >Principal </label>                                
                            </div>
                        </div>
                        <div class="col50">
                            <div class="formGroup">                                
                                <input type="number" class="formControl"  NumberInput (blur)="CalculateRpPaymentValues()" #interest (keydown.enter)="default.focus()" required [(ngModel)]= "RpPayment.Rp_Interest"/>
                                <label for="" class="formLabel">Interest </label>                                
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1rem;" >
                        <div class="col50">
                            <div class="formGroup">                                
                                <input type="number" class="formControl" NumberInput (blur)="CalculateRpPaymentValues()" #default (keydown.enter)="addless.focus()" required [(ngModel)]= "RpPayment.Rp_Default_Amt"/>
                                <label for="" class="formLabel" >Default Amount </label>                                
                            </div>
                        </div>
                        <div class="col50">
                            <div class="formGroup">                                
                                <input type="number" class="formControl" NumberInput (blur)="CalculateRpPaymentValues()" #addless  required [(ngModel)]= "RpPayment.Rp_Add_Less"/>
                                <label for="" class="formLabel">Add / Less </label>                                
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1rem;" >
                        <div class="col50">
                            <div class="formGroup">                                
                                <input type="number" class="formControl" readonly required [(ngModel)]= "RpPayment.Nett_Payable" style="text-align: center; font-size: 20px; font-weight: bold;"/>
                                <label for="" class="formLabel"> Nett Payable </label>                                
                            </div>
                        </div>
                        <div class="col50">
                            <button class="paymodeButton" (click)="MultiPaymentModes()"> <i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp; Payment Modes</button>                        
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1rem;" >
                        <div class="col50">
                            <div class="formGroup">                                
                                <input type="text" class="formControl" required #remarks [(ngModel)]= "RpPayment.Remarks"/>
                                <label for="" class="formLabel"> Remarks </label>                                
                            </div>
                        </div>         
                        <div class="col50">
                            <div class="footerRight">
                                <button (click)="SaveRpPayment()" #btnsave > <i class="fa-regular fa-floppy-disk"></i> &nbsp;&nbsp; Save</button>
                                <button (click)="DeleteRpPayment()" class="red"> <i class="fa-solid fa-trash"></i> &nbsp;&nbsp; Delete</button>  
                            </div>
                            
                        </div>              
                    </div>
                <!-- </div> -->
            </div>
            <div class="contentRight">                                
                 <ng-container *ngIf="SelectedRepledge && SelectedRepledge.Supplier && SelectedRepledge !== undefined" >
                    <div class="detailSection">                        
                        <div class="repledgeDetails">
                            <app-repledgecard [Repledge]="SelectedRepledge" [AsOnDate]="TillDate"> </app-repledgecard>
                        </div>

                    </div>                 
                 </ng-container>
            </div>
        </div>

        <div class="contentBottom">
            <app-intstatement-view [InterestStructure]="InterestStructure"></app-intstatement-view>
        </div>
   </div>
</div>
    