<!-- <ng-container *ngIf="!MinimalView">  -->
  <div  [ngClass]="ShowCompact ? 'navCompact' : 'navContainer'"  (mouseover)="SlideNav=true; toggleSlide()" (mouseleave)="SlideNav=false;toggleSlide()">    
    <div class="logoSection" >
      
        <img src="assets/images/finacclogo.png" /> 
        <p>FinAcc</p>
        
    </div>
  
    <div class="menuList">
      <div class="menuHome" (click)="GotoHome()" >
        <i class="fa fa-home" aria-hidden="true"></i>
        <p style="font-size: 1.1rem;">Dashboard</p>
      </div>
    

    <div class="menuItem" *ngFor="let menu of TreeData; let i = index" >
      <div class="menuGrp" (click)="Expandme(i)" >
        <i class="{{menu.Icon}} iconLeft" ></i>
        <p>{{menu.Caption}}</p>
        <i *ngIf="Expanded[i]==false" class='bx bx-chevron-right iconRight' style="color: rgb(75, 71, 56);"></i>
        <i *ngIf="Expanded[i]==true" class='bx bx-chevron-down iconRight' style="color: rgb(185, 116, 25);"></i>                            
      </div>

      <ng-container *ngIf="Expanded[i]" >
        <div class="subMenu"*ngFor="let sm of menu.SubMenu" >
          <p class="mnu"  [routerLink]="[sm.RouterLink]">{{sm.Caption}}</p>         
          <!-- <a [routerLink]="[SubItem.RouterLink]" routerLinkActive="'menuActive'" > {{SubItem.Caption}} </a>  -->
        </div>
      </ng-container>

    </div>
    
   
    
  </div>

</div>  
<!-- </ng-container> -->