<div class="automationContainer">
    <div class="heading">
        <h1>We make Pawnbroking and Gold Loan business  <br> Automation A Reality</h1>
    </div>

    <div class="boxes">
        <div class="Box">
            <p class="caption">
                90%
            </p>
            <p class="text">
                FinAccSaas eliminates the need for manual books and records by more than 90% making your day to day transactions automated
            </p>
        </div>
        <div class="Box">
            <p class="caption">
                100 Hrs
            </p>
            <p class="text">
                Save on average 100 hrs every month by using FinAccSaas to reconcile your accounts, generate overdues list and Print auction notices
            </p>
        </div>
        <div class="Box">
            <p class="caption">
                40%
            </p>
            <p class="text">
                Enhance your business and find new customers in the market by using our Gold Loan app
            </p>
        </div>
    </div>
</div>