<div class="everySizeContainer">
    <div class="heading">
        <h1>Perfect for all Kind of Gold Financiers and Pawnbrokers </h1>
    </div>

    <div class="boxes">
        <div class="Box">
            <img src="assets/images/pawnbroker.png" />
            <p>Small Pawnbrokers</p>
        </div>
        <div class="Box">
            <img src="assets/images/multi_branch_pawnbroker.jpg" />
            <p> Multiple Branch Gold Financiers</p>
        </div>
        <div class="Box">
            <img src="assets/images/nbfc.jpg" />
            <p> NBFC </p>
        </div>
    </div>
</div>