<div class="sidebodyContainer">
        
    
    <h1>Effortlessly Manage Gold Loan Business with India's No.1 Gold Finance Software</h1>
    
    <h2>Work and Access app from anywhere using your Mobile Devices with Cloud Enabled Features. Keep your customers updated using SMS, WhatsApp and Email alerts</h2>

    <div class="inputGrp">
        <div class="grpLeft">
            <input type="text" placeholder="Enter your Mobile number here to Book Demo" />
        </div>

        <div class="grpRight">
            <button class="btn"> Book A Demo </button>
        </div>
    </div>
    
    <div class="videoDiv">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gen7MG-kt3A" title="FinAcc Pawnbroking Software, Gold Finance Software, Jewel Loan Software, Pawn Shop Software" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    
    <h2>
        Trusted by 1000+ Clients across India
    </h2>

</div>