<div class="cashflowContainer">
    <div class="contentRight">

    </div>
    
    <div class="contentLeft">
        <p class="smallH1">
            connected accounts
        </p>

        <h1>Get a Complete View of Your Cashflow</h1>

        <p>FinAccSaas comes with complete Financial Accounts inbuilt eliminating the need for seperate accounting software</p>

        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>

            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    All your gold loan transaction and repledge transaction vouchers are posted automatically. 
                </span>        
            </div>
        </div>

        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>
            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Post your Expense vouchers, Assets and liabilities and prepare your financial statements instantly
                </span>        
            </div>
        </div>
        
        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>
            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Maintain multiple companies for multiple licenses
                </span>        
            </div>
        </div>

    </div>

  
</div>