<div class="modalForm">
    <div class="header">
        <div class="headerLeft">
            <span class="bar"></span>
            <p> &nbsp; Select Style </p>
        </div>
        <div class="headerRight">
            <p matDialogClose="" >&times;</p>
        </div>
    </div>

    <div class="body">
        <div class="loanList">                    
            <table>
                <thead> 
                    <th>#</th>
                    <th>Style Name</th>                    
                </thead>
                <tbody>
                    @for (style of StyleList; track $index) 
                    {
                        <tr (click)="SelectStyle(style)" >
                            <td> {{$index + 1}} </td>
                            <td> {{style}} </td>                                                
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    

</div>