<div class="repledgeContainer">
    
    
    <div class="contentLeft">
        <p class="smallH1">
            repledge
        </p>

        <h1>Enhanced Repledge Module</h1>

        <p>Repledge has become an important aspect in Todays Gold Loan Business. FinAccSaas provides comprehensive solution for Repledge</p>

        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>

            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Maintain multiple Banks and their consolidated Repledges in a single view
                </span>        
            </div>
        </div>

        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>
            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Borrowers option enables you to Repledge loans on different persons name in the same bank
                </span>        
            </div>
        </div>
        
        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>
            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Repledge Multiple Customers Loans in a single Repledge
                </span>        
            </div>
        </div>

        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>
            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Compare the Interest Earned with the Interest Paid and analyze the profit derived
                </span>        
            </div>
        </div>

    </div>

    <div class="contentRight">

    </div>
</div>