<div class="CompaniesContainer"> 

    <div class="header">
        <div class="leftSide">
            <p> <i class="fa-regular fa-building"></i> Companies List  </p>                
        </div>
        <div class="rightSide" (click)="AddNewCompany()" >
            <p> <i class="fa-solid fa-plus"></i> &nbsp; Add New Company</p>
        </div>
        
    </div>
    
    <table>
        <thead>
            <th> No </th>
            <th> Company Name </th>
            <th> Financial Year </th>
            <th></th>
            <th>  </th>
        </thead>

        <tbody>            
            <tr *ngFor="let comp of CompaniesList" (click)="SelectCompany(comp)" >
                <td> {{comp.CompSno}} </td>
                <td> {{comp.Comp_Name}} </td>
                <td> {{comp.Fin_From | intToDate | date:'dd/MM/yyyy' }} to {{comp.Fin_To | intToDate | date:'dd/MM/yyyy' }} </td>
                <td> 
                    <ng-container *ngIf="comp.CommMasters == 1">
                        <i style="font-size: 26px;" class='bx bx-reflect-vertical'></i>                         
                    </ng-container>
                </td>
                <td><i style="font-size: 20px;"  (click)="OpenCompany(comp); $event.stopPropagation();"  class="fa-regular fa-pen-to-square"></i> </td>
            </tr>
        </tbody>
    </table>
    
    <ng-container *ngIf="CompaniesList.length < 1" >
        <div class="newCompany">
            <p>No Companies yet</p>
            <button (click)="AddNewCompany()" >Create New Company</button>
        </div>
    </ng-container>
</div>

