<ng-container *ngIf="!MinimalHeader" > 
    <div class="headerContainer">
        <div class="headerLeft">
            <i class="fa fa-bars" aria-hidden="true" (click)="ToggleSideNav()" ></i> 
            <p class="compName" >{{CompName}}</p>
            <i class='bx bx-buildings compIcon' (click)="LoadCompanies()" ></i>
        </div>
        
        <div class="headerRight">
            <!-- <div style="display: flex; align-items: center; column-gap: .5rem;" >
                <img  style="cursor: pointer;" src="assets/images/branches.png" height="25" width="25" alt="" (click)="OpenBranches()" >
                <p style="font-weight: bold;" >{{BranchName}}</p>
            </div> -->
            
            <i class='bx bx-fullscreen' (click)="IsFullScreen ? closeFullscreen() : openFullscreen() "></i>
            <i class='bx bx-bell bx-tada' ></i>
            <p>{{LoggedUser}}</p>
            <div class="profilePicture" [matMenuTriggerFor]="menu">
                @if (UserProfileImage && UserProfileImage.length > 0) {
                    <img [src]="UserProfileImage" />
                }
                @else {
                    <img src="assets/images/partyimagepreview.png" />
                }

                
                <mat-menu #menu="matMenu" style="padding: 1rem;">

                    <button mat-menu-item >
                        <div class="menuHeader">
                            @if (UserProfileImage && UserProfileImage.length > 0) {
                                <img [src]="UserProfileImage" />
                            }
                            @else {
                                <img src="assets/images/partyimagepreview.png" />
                            }
                            <span>{{LoggedUser}}</span>
                        </div>                    
                    </button>                

                    
                    <button mat-menu-item>
                        <div class="menuClass menuClassCustom">
                            <i class='bx bx-user' ></i>
                            <a routerLink="clientprofile">Profile</a>                            
                        </div>                    
                    </button>    
                    
                    <button mat-menu-item  style="color: green;">
                        <div class="menuClass menuClassCustom">
                            <i class='bx bxs-barcode'></i>
                            <span> Client Code: <b> {{ClientCode}}  </b> </span>
                        </div>                    
                    </button>    

                    <button mat-menu-item  style="color: var(--ColorPrimary);" >
                        <div class="menuClass menuClassCustom">
                            <i class='bx bx-purchase-tag' ></i>
                            <span> 
                                @switch (VersionType) {
                                    @case (1) {
                                        Registered Version: <b> Advanced  </b>
                                    }
                                    @case (2) {
                                        Registered Version: <b> Professional </b>
                                    }
                                    @case (3) {
                                        Registered Version: <b> Enterprise </b>
                                    }
                                }
                            </span>
                        </div>                    
                    </button>    

                    
                        <hr>
                    

                    <button mat-menu-item  (click)="Logout()">
                        <div class="menuClass menuClassCustom menuClassRed">
                            <i class='bx bx-log-out'></i>
                            <span>Log Out</span>
                        </div>                    
                    </button>                
            

                    
                </mat-menu>

            </div>            
            <!-- <i class='bx bx-cog bx-spin' ></i> -->
        </div>
    </div>
</ng-container>

<ng-container *ngIf="MinimalHeader" >
    <div class="heaaderCompact">
        <div class="headerLeft">
            <i class="fa fa-bars" aria-hidden="true" (click)="ToggleSideNav()" ></i>                        
        </div>
            
        <div class="headerCenter">
            <!-- <img src="assets/images/finacclogo.png" height="40" width="40" /> -->
            <p class="compName" >{{CompName}}</p>
        </div>
        
        
        <div class="headerRight">
            <i class='bx bx-buildings compIcon' ></i>
            <div class="profilePicture" [matMenuTriggerFor]="menu1">
                <ng-container *ngIf="UserProfileImage && UserProfileImage.length > 0" >
                    <img [src]="UserProfileImage" />
                </ng-container>

                <ng-container *ngIf="!UserProfileImage || UserProfileImage.length == 0" >
                    <img src="assets/images/partyimagepreview.png" />
                </ng-container>

                
                <mat-menu #menu1="matMenu" style="padding: 1rem;">
                    <button mat-menu-item  (click)="Logout()">
                        <div class="menuClass">
                            <i class='bx bx-log-out'></i> &nbsp;
                            <span>Log Out</span>
                        </div>                    
                    </button>                
                </mat-menu>
            </div>
        </div>
        
    </div>
</ng-container>