<div class="reportContainer">
    <div class="headerCard">
        <div class="headerLeft">                 
            <p class="heading"> Balance Sheet</p>        
        </div>

        <div class="headerRight">                 
            <i class='bx bxs-download' [matMenuTriggerFor]="menu"></i> 
            <mat-menu #menu="matMenu" style="padding: 1rem;">
                <button mat-menu-item >
                    <div class="menuClass" (click)="exportexcel()" >                        
                        <i style="font-size: 1.2rem;" class="fas fa-file-excel" style="color: green;" ></i> &nbsp; 
                        <span>Download</span>
                    </div>                    
                </button>
            </mat-menu>     
        </div>
    </div>

    <div class="body">
        <div class="filterHeader">
            <div class="filterLeft">
                <div class="formGroup" >
                    <input type="date" class="formControl" [ngModel]="FromDate! | intToDate | date:'yyyy-MM-dd'" (blur)="FromDate= DateToInt($event)" />                        
                    <label for="" class="formLabel date"> From Date </label>            
                </div>
                <div class="formGroup" >
                    <input type="date" class="formControl" [ngModel]="ToDate! | intToDate | date:'yyyy-MM-dd'" (blur)="ToDate= DateToInt($event)" />                                                                                                            
                    <label for="" class="formLabel date"> To Date </label>            
                </div>
    
                <button class="btn" (click)="FilterBalanceSheet()" >Load Details</button>
            </div>
            <div class="filterMiddle">
                
            </div>
            <div class="filterRight">
                <div class="matGroup" style="width: 50%;" >
                    <div class="matSelect">
                        <mat-select style="text-align: center;" [value]="GrpType" [(ngModel)] ="GrpType" (selectionChange)="FilterBalanceSheet()" >
                            <mat-option [value]="0">No</mat-option>
                            <mat-option [value]="1">Yes</mat-option>                                                        
                        </mat-select>
                    </div>
                    <div class="matLabel">
                        &nbsp;&nbsp; Grouped
                    </div>
                </div>  



            </div>
        </div>

        
        <div class="tableBody">
            <table id="balancesheet">
                <thead> 
                        <tr>
                            <th style="background-color: #fff; color: var(--ColorPrimary); padding: 1.1rem; font-size: 1.2rem; font-weight: bold; border: 1px solid var(--ColorPrimary);" colspan="2"> Liabilities </th>
                            <th style="background-color: #fff; color: var(--ColorPrimary); padding: 1.1rem; font-size: 1.2rem; font-weight: bold; border: 1px solid var(--ColorPrimary);" colspan="2"> Assets </th>
                        </tr>
                        <tr>
                            <th>Particulars</th>
                            <th>Amount</th>
                            <th>Particulars</th>
                            <th>Amount</th>
                        </tr>
                </thead>

                <tbody>                    
                    <tr *ngFor="let vou of BsHtmlList; let i = index">                        
                        <td> {{vou.LeftDetails}} </td>
                        <td> {{vou.LeftAmount | number}} </td>
                        <td> {{vou.RightDetails}} </td>
                        <td> {{vou.RightAmount | number}} </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>

 
</div>