.indexContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    padding-right: 3rem;

    .alertHeader{
        width: 100%;
        display: flex;
        column-gap: 1rem;
        align-items: center;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1rem;
        background-color: rgb(248, 215, 215);
        color: red;

        i{
            font-size: 1.5rem;
        }

        p.desc{
            font-size: 1.1rem;
        }
        p.renew{
            font-size: 1.1rem;
            font-weight: 500;
        }
    }

    .welcomeHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        

        .welcomeLeft{
            width: 80%;
            p{
                font-size: 1.4rem;
                font-weight: 400;                
            }
        }
        .welcomeRight{
            width: 20%;
        }
    }

    .statusBoxes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
        padding: 1rem;        

        .statusBox{
            width: 100%;
             box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            // border-right: .3rem solid var(--ColorPrimary);
            // border-bottom: .1rem solid var(--ColorPrimary);
            background-color: #fff;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-radius: 1rem;
            min-height: 7rem;

            .dataLeft{                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                .caption{
                    display: flex;
                    align-items: center;
                    column-gap: .6rem;                    
                    p{
                        font-size: 1.2rem;
                        font-weight: 400;
                    }
                    i{
                        font-size: 1.5rem;                                                
                    }
                }

                .count{
                    font-size: 2rem;
                    font-weight: 500;
                }

                .value{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }

            .dataRight{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                i{
                    font-size: 3rem;
                }
            }
        }
    }

    .bodyCenter{
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        .transactionList{
            width: 50%;
            background-color: #fff;
            border-radius: 1rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            .heading{
                padding: 1rem;
                p{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
            .transaction{
                padding: 1.5rem;
                border-top: 1px solid #ddd;
                display: flex;

                .transLeft{
                    display: flex;
                    width: 80%;
                    align-items: center;
                    column-gap: 1rem;

                    .logoBox{
                        border: 1px solid #ddd;
                        font-weight: bold;
                        padding: 1rem;
                        border-radius: 1rem;
                    }

                    .content{
                        display: flex;
                        flex-direction: column;                    
                        row-gap: .5rem;
                    }
                }

                .transRight{
                    width: 20%;                
                    display: flex;
                    flex-direction: column;
                    row-gap: .5rem;
                    text-align: right;
                }
            }

            .transaction:hover{
                background-color: #f3f0f0;
                cursor: pointer;
            }
        
        }

        .chart{
            width: 50%;
            background-color: #fff;
            padding: 1rem;
            border-radius: 1rem;

            .chartOptions{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .chartData{

            }
        }
    }
}
