<div class="simplifyContainer">
    <div class="contentLeft">
        <p class="smallH1">
            all-in-one solution
        </p>

        <h1>Simplify your PawnBroking Business with FinAcc Cloud</h1>

        <p>Streamline your PawnBroking Business with FinAcc Cloud. Say Goodbye to manual books, manual receipts and bundle of receipt books.</p>

        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>

            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Your transactions are 100% automated. Eliminate manual receipts and books and have computerized receipts with your preferred and regional language support.
                </span>        
            </div>
        </div>

        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>
            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Secure your business more with Photo Capture of Customers and Ornaments, SMS Otp validation and Biometric validations
                </span>        
            </div>
        </div>
        
        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>
            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Now record all your Repledge Transactions and get a insight view of your Interest earned and business profit.
                </span>        
            </div>
        </div>

    </div>

    <div class="contentRight">
        <!-- <img src="assets/images/appscreenshots/homepage.png" width="70%" height="70%" /> -->
        <div class="svgDiv" >
            <svg viewBox="0 0 200 200" style="width: 100%; height: 100%; object-fit: contain; border-radius:5%">
                <!-- First Image -->
                <image href="assets/images/appscreenshots/homepage.png" x="0" y="0" width="200" height="200" opacity="1">
                  <animate attributeName="opacity" from="1" to="0" begin="0s" dur="6s" fill="freeze" repeatCount="indefinite" />
                </image>
                
                <!-- Second Image -->
                <image href="assets/images/appscreenshots/loanscreen.png" x="0" y="0" width="200" height="200" opacity="0">
                  <animate attributeName="opacity" from="0" to="1" begin="6s" dur="6s" fill="freeze" repeatCount="indefinite" />
                  <animate attributeName="opacity" from="1" to="0" begin="12s" dur="6s" fill="freeze" repeatCount="indefinite" />
                </image>
                
                <!-- Third Image -->
                <image href="assets/images/appscreenshots/loanhistory.png" x="0" y="0" width="200" height="200" opacity="0">
                  <animate attributeName="opacity" from="0" to="1" begin="6s" dur="6s" fill="freeze" repeatCount="indefinite" />
                </image>
              </svg>
        </div>
    </div>
</div>