<div class="simplifyContainer">
    <div class="contentLeft">
        <p class="smallH1">
            all-in-one solution
        </p>

        <h1>Simplify your PawnBroking Business with FinAcc Cloud</h1>

        <p>Streamline your PawnBroking Business with FinAcc Cloud. Say Goodbye to manual books, manual receipts and bundle of receipt books.</p>

        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>

            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Your transactions are 100% automated. Eliminate manual receipts and books and have computerized receipts with your preferred and regional language support.
                </span>        
            </div>
        </div>

        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>
            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Secure your business more with Photo Capture of Customers and Ornaments, SMS Otp validation and Biometric validations
                </span>        
            </div>
        </div>
        
        <div class="points">
            <div class="icon">
                <img src="assets/images/download.svg" />
            </div>
            <div class="details">        
                <span style="font-size: 1.5rem; color: #546078; font-weight: 300; ">
                    Now record all your Repledge Transactions and get a insight view of your Interest earned and business profit.
                </span>        
            </div>
        </div>

    </div>

    <div class="contentRight">

    </div>
</div>