<div class="modalForm">
    <div class="header">
        <div class="headerLeft">
            <span class="bar"></span>
            <p> &nbsp; Agent </p>
        </div>
        <div class="headerRight">
            <p mat-dialog-close="" >&times;</p>
        </div>
    </div>

    <div class="body">
        <div class="row" style="margin-top: 5px;" >
            <div class="col50">
                <input type="hidden" required [(ngModel)] = Agent.AgentSno  />
                <div class="formGroup">                    
                    <input type="text" class="formControlreadonly" disabled={{CodeAutoGen}} required [(ngModel)] = Agent.Agent_Code   />
                    <label for="" class="formLabelreadonly"> Agent Code </label>
                </div>
            </div>

            <div class="col50">
                <div class="formGroup" [ngClass]="!AgentNameValid ? 'invalid' : ''" >
                    <input type="text" class="formControl" required [(ngModel)] = Agent.Agent_Name  />
                    <label for="" class="formLabel"> Agent Name </label>
                    <div class="errorHint" *ngIf="!AgentNameValid" > Invalid Name </div>
                </div>
            </div>
        </div>
        
        
        <div class="row" style="margin-top: 15px;">
            

            <div class="col50">
                <div class="formGroup">
                    <input type="text" class="formControl" required  [(ngModel)] = Agent.Remarks />
                    <label for="" class="formLabel"> Remarks </label>
                </div>
            </div>

            <div class="col50">
                <div class="formGroup">
                    <input type="date" class="formControl" [ngModel]="Agent.Create_Date! | intToDate | date:'yyyy-MM-dd'" (ngModelChange)="Agent.Create_Date = DateToInt($event) " />                    
                    <label for="" class="formLabel date"> Create Date </label>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px; display: flex; flex-direction: row; align-items: center; text-align: center;">
            <div class="col50">
                <!-- <label class="toggle">
                    <input class="toggle-checkbox" type="checkbox" [checked]="Agent.Active_Status" [(ngModel)]="Agent.Active_Status"> 
                    <div class="toggle-switch"></div>
                    <span class="toggle-label"> {{Agent.Active_Status == 1? 'Active' : 'InActive' }}  </span>
                </label> -->
            </div>

            
        </div>

    </div>

    <div class="footer">
        <button (click)="SaveAgent()" > <i class="fa-solid fa-floppy-disk"></i> &nbsp; Save</button>
        <button (click)="DeleteAgent()" class="red"> <i class="fa-solid fa-trash"></i> &nbsp; Delete</button>
    </div>
</div>