<div class="testimonialsContainer">
    <div class="header">
        <h1>Testimonials</h1>
    </div>

    <div class="testiRows">
        <div class="testirow">
            <div class="testimonial">
                <p class="name">
                    Natarajan. R
                </p>
                <p class="company">
                    Jayasakthi Finance, Coimbatore, Tamilnadu
                </p>
                <hr>
                <p class="desc">
                    "The Software is really good and user friendly. Am using it for more than 2 years. Good luck for future updations."
                </p>
            </div>
            <div class="testimonial">
                <p class="name">
                    Sunnu Bohra
                </p>
                <p class="company">
                    Sunil Finance and Investments, Bangalore, Karnataka
                </p>
                <hr>
                <p class="desc">
                    This software really helps our business a lot and saves lot of time. Thank you FinAcc
                </p>
            </div>
        </div>

        <div class="testirow">
            <div class="testimonial">
                <p class="name">
                    Manish Marlecha
                </p>
                <p class="company">
                    Marlecha Finance, Bangalore, Karnataka
                </p>
                <hr>
                <p class="desc">
                    I can see all my reports and transactions from my mobile and website. Its really amazing and helpful
                </p>
            </div>
            <div class="testimonial">
                <p class="name">
                    VinothKannan
                </p>
                <p class="company">
                    KGM Bankers, Chennai, Tamilnadu
                </p>
                <hr>
                <p class="desc">
                    Good Software. Using it in Tamil is really helpful. Appreciate your friendly support sir
                </p>
            </div>
        </div>

        <div class="testirow">
            <div class="testimonial">
                <p class="name">
                    Ashok Kumar
                </p>
                <p class="company">
                    AK Finance, Tirupathi, Andhra Pradesh
                </p>
                <hr>
                <p class="desc">
                    FinAcc is really faster and accurate in all aspects when comparing with my old software. Keep going
                </p>
            </div>
            <div class="testimonial">
                <p class="name">
                    Vinay Dutta
                </p>
                <p class="company">
                    Sanjay Bankers, Kolkata, West Bengal
                </p>
                <hr>
                <p class="desc">
                    I really like the software for its alert system like auto notifications and Sms. Good luck

                </p>
            </div>
        </div>
    </div>
</div>