<div class="modulesContainer">
    <h1>FinAccSaas Modules</h1>
    <p class="header">We listed here some of our major and exclusive modules covered in the pawnbroking software. Please call us for information about other modules and packages</p>

    <div class="boxesContainer">
        <div class="box">
            <img src="assets/images/loans.svg" height="50" width="50" />
            <p class="header">
                Gold Loan Module
            </p>
            <p class="text">
                Complete Gold Finance Customers databases with photos, Loan Details with Item Details and Photos
            </p>
        </div>

        <div class="box">
            <img src="assets/images/repledge.svg" height="50" width="50" />
            <p class="header">
                Repledge Module
            </p>
            <p class="text">
                Pledging Customers ornaments in your own banks. Banks details, Borrower Information and Interest Comparision
            </p>
        </div>

        <div class="box">
            <img src="assets/images/alerts.svg" height="50" width="50" />
            <p class="header">
                SMS and Whatsapp Integration
            </p>
            <p class="text">
                SMS and WhatsApp alerts on demand with OTP Generation for New Customers
            </p>
        </div>

        <div class="box">
            <img src="assets/images/aadhar.svg" height="50" width="50" />
            <p class="header">
                Aadhar and Biometric Integration
            </p>
            <p class="text">
                Aadhar Link with Goverment Database to fetch complete details about the customers
            </p>
        </div>

    </div>
</div>