<div class="reportContainer">
    <div class="headerCard">
        <div class="headerLeft">                 
            <p class="heading"> Trial Balance</p>        
        </div>

        <div class="headerRight">                 
            <i class='bx bxs-download' [matMenuTriggerFor]="menu"></i> 
            <mat-menu #menu="matMenu" style="padding: 1rem;">
                <button mat-menu-item >
                    <div class="menuClass" (click)="exportexcel()" >                        
                        <i style="font-size: 1.2rem;" class="fas fa-file-excel" style="color: green;" ></i> &nbsp; 
                        <span>Download</span>
                    </div>                    
                </button>
            </mat-menu>     
        </div>
    </div>

    <div class="body">
        <div class="filterHeader">
            <div class="filterLeft">
                <div class="formGroup" >
                    <input type="date" class="formControl" [ngModel]="FromDate! | intToDate | date:'yyyy-MM-dd'" (blur)="FromDate= DateToInt($event)" />                        
                    <label for="" class="formLabel date"> From Date </label>            
                </div>
                <div class="formGroup" >
                    <input type="date" class="formControl" [ngModel]="ToDate! | intToDate | date:'yyyy-MM-dd'" (blur)="ToDate= DateToInt($event)" />                                                                                                            
                    <label for="" class="formLabel date"> To Date </label>            
                </div>
    
                <button class="btn" (click)="FilterTrialBalance()" >Load Details</button>
            </div>
            <div class="filterMiddle">
                
            </div>
            <div class="filterRight">
                <div class="matGroup" style="width: 90%;" >
                    <div class="matSelect">
                        <mat-select style="text-align: center;" [value]="GrpType" [(ngModel)] ="GrpType" (selectionChange)="FilterTrialBalance()" >
                            <mat-option [value]="0">Grouped</mat-option>
                            <mat-option [value]="1">Ledger Wise</mat-option>                                                        
                        </mat-select>
                    </div>
                    <div class="matLabel">
                        &nbsp;&nbsp; Grouped
                    </div>
                </div>  

                <div class="matGroup" style="width: 90%;" >
                    <div class="matSelect">
                        <mat-select style="text-align: center;" [value]="GrpType" [(ngModel)] ="DetType" (selectionChange)="FilterTrialBalance()" >
                            <mat-option [value]="0">Normal</mat-option>
                            <mat-option [value]="1">Detailed</mat-option>                                                        
                        </mat-select>
                    </div>
                    <div class="matLabel">
                        &nbsp;&nbsp; Detailed
                    </div>
                </div>  

                <div class="matGroup" style="width: 90%;" >
                    <div class="matSelect">
                        <mat-select style="text-align: center;" [value]="ShowTransactions" [(ngModel)] ="ShowTransactions">
                            <mat-option [value]="0">No</mat-option>
                            <mat-option [value]="1">Yes</mat-option>                                                        
                        </mat-select>
                    </div>
                    <div class="matLabel">
                        &nbsp;&nbsp; Show Transactions
                    </div>
                </div>  


            </div>
        </div>

        
        <div class="tableBody">
            <table id="trialbalance" >
                <thead> <tr>
                            <th>Particulars</th>
                            <th *ngIf="ShowTransactions" >Transaction Debit</th>
                            <th *ngIf="ShowTransactions">Transaction Credit</th>
                            <th>Closing Debit</th>
                            <th>Closing Credit</th>
                        </tr>
                </thead>

                <tbody>                    
                    <tr *ngFor="let vou of TrialBalancelist; let i = index">                        
                        <td *ngIf="vou.ClsDr > 0 || vou.ClsCr >0 || vou.Name == 'Total'" [ngClass]="vou.Name == 'Total' ? 'totalRow' : '' " > {{vou.Name}} </td>
                        
                        <td class="numRow" *ngIf="(vou.ClsDr > 0 || vou.ClsCr >0 || vou.Name == 'Total') && ShowTransactions" [ngClass]="vou.Name == 'Total' ? 'totalRow' : '' "> {{vou.TrnDr | number}} </td>
                        <td class="numRow" *ngIf="(vou.ClsDr > 0 || vou.ClsCr >0 || vou.Name == 'Total') && ShowTransactions" [ngClass]="vou.Name == 'Total' ? 'totalRow' : '' "> {{vou.TrnCr | number}} </td>

                        <td class="numRow" *ngIf="vou.ClsDr > 0 || vou.ClsCr >0 || vou.Name == 'Total'" [ngClass]="vou.Name == 'Total' ? 'totalRow' : '' "> {{vou.ClsDr | number}} </td>
                        <td class="numRow" *ngIf="vou.ClsDr > 0 || vou.ClsCr >0 || vou.Name == 'Total'" [ngClass]="vou.Name == 'Total' ? 'totalRow' : '' "> {{vou.ClsCr | number}} </td>
                    </tr>                    
                    
                </tbody>
            </table>

            <!-- <table>
                <tr><td>Total</td><td>25000</td><td>25000</td></tr>
            </table> -->
        </div>
    </div>

 
</div>