<div class="modalForm" style="width: 100%;" >
    <div class="header">
        <div class="headerLeft">
            <span class="bar"></span>
            <p> &nbsp; Business Register - Daily </p>
        </div>
        <div class="headerRight">
            <p matDialogClose="" >&times;</p>
        </div>
    </div>

    <div class="body">
        <div class="loanList">            
         
            <table>
                <thead> 
                    <th>#</th>
                    <th>Day</th>
                    <th>Loans Count</th>
                    <th>Loans Value</th>                        
                    <th>Red Count</th>                        
                    <th>Red Value</th>                        
                    <th>Interest</th>           
                    <th>DocCharges</th>
                </thead>
                <tbody>
                    @if (data){
                        @for (item of data; track $index) {
                            @if ( item.LoansCount > 0 || item.RedCount > 0 || item.Interest > 0 ) {
                                <tr>
                                    <td> {{$index + 1}} </td>
                                    <td> {{item.DayStart | intToDate | date:"dd/MM/YYYY" }} </td>                                
                                    <td> {{item.LoansCount}} </td>
                                    <td> {{item.LoansValue}} </td>
                                    <td> {{item.RedCount}} </td>
                                    <td> {{item.RedValue}} </td>
                                    <td> {{item.Interest}} </td>
                                    <td> {{item.DocCharges}} </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>