<div class="pricingContainer">
    <div class="heading">
        <h1> Pricing </h1>
    </div>

    <div class="priceTabs">
        <div class="priceTab">
            <p class="version"> Advanced Version </p>
            <p class="rate"> &#8377; 14,400 </p>            
            <p class="desc">    Lifetime License </p>
            <p class="optional"> Optional Cloud Charges Rs. 6000 P.A </p>
            
            <ul class="custom-bullets">                
                <li>
                    <i class='bx bx-check yes' ></i> <p>Pawnbroking Module</p> 
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p>Accounts Module</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p>Image Capture Plugin</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p>SMS Plugin</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no" >Tally Export Plugin</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no">Repledge Module</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no">Common Masters Module</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no">Multiple Licenses Module</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no">Cloud / Web Enabled Reports</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no">Mobile Access Reports</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no">Bio-Metric Integration</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no">Aadhar Integration</p>
                </li>
            </ul>
        </div>

        <div class="priceTab">
            <p class="version"> Professional Version </p>
            <p class="rate"> &#8377; 21,600 </p>            
            <p class="desc">    Lifetime License </p>
            <p class="optional"> Optional Cloud Charges Rs. 6000 P.A </p>
            
            <ul class="custom-bullets">                
                <li>
                    <i class='bx bx-check yes' ></i> <p>Pawnbroking Module</p> 
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p>Accounts Module</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p>Image Capture Plugin</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p>SMS Plugin</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p  >Tally Export Plugin</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p >Repledge Module</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p >Common Masters Module</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p >Multiple Licenses Module</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no">Cloud / Web Enabled Reports</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no">Mobile Access Reports</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no">Bio-Metric Integration</p>
                </li>
                <li>
                    <i class='bx bx-x no' ></i> <p class="no">Aadhar Integration</p>
                </li>
            </ul>
        </div>

        <div class="priceTab">
            <p class="version"> Enterprise Version </p>
            <p class="rate"> &#8377; 30,000 </p>            
            <p class="desc">    Lifetime License </p>
            <p class="optional"> Optional Cloud Charges Rs. 6000 P.A </p>
            
            <ul class="custom-bullets">                
                <li>
                    <i class='bx bx-check yes' ></i> <p>Pawnbroking Module</p> 
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p>Accounts Module</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p>Image Capture Plugin</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p>SMS Plugin</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p >Tally Export Plugin</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p >Repledge Module</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p >Common Masters Module</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p >Multiple Licenses Module</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p >Cloud / Web Enabled Reports</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p >Mobile Access Reports</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p >Bio-Metric Integration</p>
                </li>
                <li>
                    <i class='bx bx-check yes' ></i> <p >Aadhar Integration</p>
                </li>
            </ul>
        </div>
    </div>
</div>