<div class="modalForm" style="width: 100%;" >
    <div class="header">
        <div class="headerLeft">
            <span class="bar"></span>
            <p> &nbsp; {{data.Party_Name}} </p>
        </div>
        <div class="headerRight">
            <p matDialogClose="" >&times;</p>
        </div>
    </div>

    <div class="body">
        <div class="loanList">            
            <div class="generalSearchBox">
                <input type="text" required  placeholder="Type here to Search for Loan" [(ngModel)]="searchText" />                
                <div class="iconRight">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div> 
            </div>
            <table>
                <thead> 
                    <th>#</th>
                    <th>Loan No</th>
                    <th>Loan Date</th>
                    <th>Customer</th>                        
                    <th>Principal</th>                        
                    <th>Gross Wt</th>                        
                    <th>Nett Wt</th> 
                    <th>Duration</th> 
                </thead>
                <tbody>
                    <tr *ngFor="let loan of LoanData | search: searchText ; let i = index" (click)="SelectLoan(loan)" >
                        <td class=""> {{i+1}} </td>
                        <td class=""> {{loan.Loan_No}} </td>
                        <td class=""> {{loan.Loan_Date | intToDate | date: "dd/MM/yyyy" }} </td>
                        <td> {{loan.Party_Name}} </td>
                        <td class=""> {{loan.Principal}} </td>
                        <td class=""> {{ loan.TotGrossWt }} </td>
                        <td class=""> {{ loan.TotNettWt }} </td>
                        <td class="">  {{loan.Ason_Duration_Months!==0 ? loan.Ason_Duration_Months + ' months ':'' }} {{ (loan.Ason_Duration_Months !==0 && loan.Ason_Duration_Days) ? ' and ' : '' }}  {{loan.Ason_Duration_Days !==0 ? loan.Ason_Duration_Days + ' days' :''}} </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>