.dashboardContainer{
    width: 100%;
    display: flex;
    position: relative;
    background-color: #F0F0F9;    
    //background-color:#F7F8F9;
    
    
    .sidenavContainer
    {
        position: fixed;        
        width: 15.5rem;                
        height: 100%;                
    }

    .headerContainer{                         
        position: fixed;
        height: 4.70rem;
        width: calc(100% - 15.9rem);
        margin-left: 15.6rem;        
        background-color: #fff;     
        z-index: 100;           
    }

    .bodyContainer{
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        .alertHeader{
            width: 100%;
            display: flex;
            column-gap: 1rem;
            align-items: center;
            border-radius: .5rem;
            padding: 1rem;            
            background-color: rgb(248, 215, 215);
            color: red;
            position: relative;
       
            p.closeBtn{
                position: absolute;
                right: 1rem;
                top: 0.5rem;
                font-size: 1.2rem;
                color: red;
                font-weight: bold;
            }
            p.closeBtn:hover{
                cursor: pointer;
                transition: transform 0.25s 0s; 
                transform: scale(1.5); 
            }
            

            i{
                font-size: 1.5rem;
            }
    
            p.desc{
                font-size: 1.1rem;
            }
            p.renew{
                font-size: 1.1rem;
                font-weight: 500;
            }
        }

        width:100%;
        margin-top: 5.3rem;  
        margin-left: 16.1rem;  
        z-index: 99;
    }
}

.dashboardCompact{
    width: 100%;
    display: flex;
    position: relative;
    background-color: #F0F0F9;    
    height: 100%;
    
    .sidenavContainer
    {
        z-index: 1000;
        // width is fixed in typescript as per mode and screen size
        position: fixed;                
        height: 100%;        
        background-color: #fff;
    }
    
    .headerContainer{                         
        position: fixed;
        height: 4.70rem;
        width: calc(100% - 4.75rem);
        margin-left: 5rem;        
        background-color: #fff;        
    }

    // .headerCompact{                         
    //     position: fixed;
    //     height: 4.70rem;
    //     width: calc(100% - 3rem);
    //     margin-left: 2.5rem;       
    //     z-index: 100;           
    // }

    .bodyContainer{
        position: fixed;
        width: calc(100% - 5.2rem);
        margin-top: 5.3rem;  
        margin-left: 5.3rem;                        
        z-index: 99;
        
    }
    
}

.noMargin{
    margin-left: 0;
}