<div [ngClass]="CompactView ? 'dashboardCompact' : 'dashboardContainer'" >    
    <div class="sidenavContainer"  [style.width]="CompactView ? SlideNav ? '15.5rem':'4.75rem' : '' " (mouseover)="SlideNav=true" (mouseleave)="SlideNav=false"  >
        <app-sidenav [SideNavCompact]="CompactView" ></app-sidenav>
    </div>  

    <div class="headerContainer" >            
        <app-header (toggleEvent)="SetCompact($event)" ></app-header>
    </div>
    
    <div class="bodyContainer">
        @if (SubscriptionAlert && ShowAlert) {
            <div class="alertHeader">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <p class="desc">
                    {{SubscriptionMsg}}
                </p>
                <p class="renew" (click)="RenewApp()" >
                    Renew Now..
                </p>        
                @if (CloseEnable) { 
                    <p class="closeBtn" (click)="CloseAlert()" >X</p>
                }
            </div>
        }

        @if (UsedDataPercentage >= 70) {
            <div class="alertHeader">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <p class="desc">
                    You have used {{UsedDataPercentage}}% of your 2GB Quota
                </p>
                <p>
                    Used Space {{UsedSpace}} 
                </p>
                <p class="renew" (click)="BuyMoreSpace()" >
                      Buy More Space
                </p>        
                <p class="closeBtn" (click)="CloseAlert()" >X</p>
            </div>
        }
        <app-body></app-body>
    </div>    
</div> 