<div class="homeContainer">


    <!-- <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="30" fill="blue">
          <animate
            attributeName="r"
            from="30"
            to="50"
            dur="1s"
            repeatCount="indefinite" />
        </circle>
      </svg>

      
      <svg width="300" height="300" xmlns="http://www.w3.org/2000/svg">
        <image href="assets/images/nocontent.png" x="0" y="0" width="300" height="300">
          <animate attributeName="opacity" from="0" to="1" dur="3s" repeatCount="indefinite" />
        </image>
         <image href="assets/images/noimage.jpg" x="0" y="0" width="300" height="300">
          <animate attributeName="opacity" from="0" to="1" dur="3s" repeatCount="indefinite" />
        </image> 
      </svg>

      <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle cx="100" cy="100" r="30" fill="blue">
          <animate attributeName="r" from="30" to="60" dur="2s" repeatCount="indefinite" />
        </circle>
      </svg>

      <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <rect x="50" y="50" width="100" height="100" fill="red">
          <animateTransform 
            attributeName="transform"
            type="rotate"
            from="0 100 100"
            to="360 100 100"
            dur="3s"
            repeatCount="indefinite" />
        </rect>
      </svg>

      <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle cx="100" cy="100" r="50" stroke="black" stroke-width="3" fill="blue">
          <animate attributeName="fill" from="blue" to="green" dur="2s" repeatCount="indefinite" />
          <animate attributeName="stroke" from="black" to="red" dur="2s" repeatCount="indefinite" />
        </circle>
      </svg>
      
      <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 80 C 40 10, 65 10, 95 80 S 150 150, 180 80" fill="transparent" stroke="black" stroke-width="2">
          <animate attributeName="d" 
            from="M10 80 C 40 10, 65 10, 95 80 S 150 150, 180 80" 
            to="M10 80 C 40 150, 65 150, 95 80 S 150 10, 180 80" 
            dur="3s" repeatCount="indefinite" />
        </path>
      </svg>

      <svg width="200" height="100" xmlns="http://www.w3.org/2000/svg">
        <text x="50" y="50" font-size="20" fill="blue">Hello, SVG!</text>
        <text x="50" y="50" font-size="20" fill="blue">
          <animate attributeName="font-size" from="20" to="30" dur="1s" repeatCount="indefinite" />
          <animate attributeName="fill" from="blue" to="red" dur="1s" repeatCount="indefinite" />
        </text>
      </svg>

      
      <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <filter id="blurFilter">
            <feGaussianBlur in="SourceGraphic" stdDeviation="0">
              <animate attributeName="stdDeviation" from="0" to="10" dur="1s" repeatCount="indefinite" />
            </feGaussianBlur>
          </filter>
        </defs>
        <circle cx="100" cy="100" r="50" fill="blue" filter="url(#blurFilter)" />
      </svg>

      <svg width="400" height="400" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="30" fill="blue">
          <animate attributeName="cx" from="50" to="350" dur="4s" repeatCount="indefinite" />
          <animate attributeName="cy" from="50" to="350" dur="4s" repeatCount="indefinite" />
          <animate attributeName="opacity" from="1" to="0" dur="2s" repeatCount="indefinite" />
        </circle>
      </svg> -->

      
      
    <app-siteheader />     
    <app-sitebody  />
    <app-simplify />
    <app-siteschemes />
    <app-sitemodules />
    <app-sitecashflow />
    <app-siterepledge />
    <app-sitemobileapp />
    <app-everysize />
    <app-automation />
    <app-testimonials />    
    <app-pricing />
    <app-contact />
</div>