<div class="contactContainer">
    <div class="content" >
        <div class="contentLeft">
            <h1>FinAccSaas</h1>
            <p class="desc">
                FinAccSaas is a online cloud management application to record and maintain all pawnbroking and gold finance transactions in a most efficient way. It enables pawnbrokers to record all gold loan
                transactions with customer information with KYC. FinAccSaas is blended with latest technologies like Sms, Whatsapp and voice alerts, which helps to maintain good communication with gold loan customers.

                <br><br>
                In addition to record gold loan transactions, it has got seperaate modules to maintain even Repledge Transactions which is become more common now with most pawnbrokers and gold loan 
                providers. 
                
                <br><br>

                FinAccSaas comes up with more advanced features for maintaining various interest schemes like Simple, Multiple, Compound and customizable interes schemes too
            </p>
        </div>

        <div class="contentRight">
            <h2>Let's Talk</h2>
            <p>Connect with us</p>
            <p>finacctechnologies&#64;gmail.com</p>
            <p>+91 98658 80356</p>
            <div class="social">
                <i class='bx bxl-facebook-circle'></i>
                <i class='bx bxl-instagram-alt' ></i>
            </div>
        </div>
    </div>
    


    <hr>

    <p>FinAcc Technologies &copy; 2025</p>

</div>