.loginContainer{
    width: 100%;
    height: 100%;
    background-color: var(--ColorPrimary);
    padding-top: 5%;    
    padding-left: 15%;    
    padding-right: 15%;    
    padding-bottom: 5%;    
    display: flex;
    align-items: center;
    justify-content: center;

    .content{
        background-color: #fff;        
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        
        .contentLeft{
            width: 40%;
            background-color: rgb(243, 218, 172);            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;

            p{
                color: #fff;
                font-size: 1.7rem;
                font-weight: bold;                
            }

            .btn{
                border: none;
                padding: 1rem;
                background-color: var(--ColorPrimary);
                color: #fff;
                cursor: pointer;
                min-width: 120px;
                border-radius: 5px;
            }
        }

        .contentRight{    
            width: 60%;
            background-color: #fff;
            height: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .header{
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: .6rem;                
                align-self: flex-end;

                p{
                    font-size: 2rem;
                    font-weight: bolder;
                }
            }

            .body{
                width: 100%;
                padding: 7rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                row-gap: 1.5rem;

                .title{
                    font-size: 2rem;
                    color: var(--ColorPrimary);
                    align-self: center;
                    margin-bottom: 1rem;
                }

                .btnSection{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .btn{
                        border: none;
                        padding: 1rem;
                        background-color: var(--ColorPrimary);
                        color: #fff;
                        cursor: pointer;
                        min-width: 120px;
                        border-radius: 5px;
                    }

                    .errArea{
                        color: red;
                        font-size: 14px;
                    }
                }
                
            }

            .footer{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .footerLeft{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: .5rem;
                    p{font-size: 1.2rem;}

                    i{color: grey;}
                    i:hover{
                        cursor: pointer;
                        transition: transform 0.25s 0s; 
                        transform: scale(2); 
                        color: orange;
                        margin-right: 1rem;
                    }
                }

                .footerRight{
                    display: flex;
                    flex-direction: row;    
                    align-items: center;                
                    column-gap: .5rem;
                    p{font-size: 1.2rem;}
                    i{color: grey;}
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    // .loginContainer {
    //     .content{
    //         .contentLeft{
    //             display: none;
    //         }

            
    //     }
    // }

    .loginContainer >  .content > .contentLeft { display: none; }
    .loginContainer >  .content > .contentRight { 
        width: 100%;

        .body {
            padding: 2rem;

            .title { font-size: 1rem; }
        }
    }
  }
