<div class="loginContainer">
    <div class="content">
        <div class="contentLeft">
             
        </div>

        <div class="contentRight">
            <div class="header">
                <img src="assets/images/pennygold.png" height="50" width="150" />                
            </div>      
            
            
             <div class="body">
                <p class="title">Welcome Back !</p>
                
                <div class="newTextField">
                    <label><input type="text" class="textfield" (keydown.enter)="CheckLogin()"  [(ngModel)]="UserName" required><span class="placeholder">Enter Email Id / Username</span></label>
                </div>
                <div class="newTextField">
                    <label><input type="password" class="textfield"  (keydown.enter)="CheckLogin()" [(ngModel)]="Password" required><span class="placeholder">Enter Password</span></label>
                </div>
                <div class="btnSection">
                    <button class="btn"(click)="CheckLogin()"  >SIGN IN</button>
                    <ng-container  *ngIf="InvalidUser">
                        <p class="errArea">
                           {{errText}}
                        </p>
                    </ng-container>
                </div>                
            </div> 

            <div class="footer">
                <div class="footerLeft">
                    <p>Available on</p>
                    <i class="fa fa-android" aria-hidden="true"></i>
                    <i class="fa fa-windows" aria-hidden="true"></i>
                    <i class="fa fa-apple" aria-hidden="true"></i>
                </div>

                <div class="footerRight">                    
                    <p> <b> FinAcc </b></p>
                    
                </div>
            </div>
        </div>
    </div>
</div>