<div class="mobileappContainer">
    <img src="assets/images/mob-screenshot.jpeg" />

    <div class="loans">
        <div class="loan">
            <div class="innerLoan">
                 <p>Loans Analysis</p>
            </div>
        </div>        
    </div>

    
    <div class="recents">
        <div class="recent">
            <div class="innerrecent">
                 <p>Recent Transactions</p>
            </div>
        </div>        
    </div>

    <div class="graphs">
        <div class="graph">
            <div class="innergraph">
                 <p>Graphical Analytics</p>
            </div>
        </div>        
    </div>

    <div class="customers">
        <div class="customer">
            <div class="innercustomer">
                 <p>Customer Analysis</p>
            </div>
        </div>        
    </div>

</div>